 <!-- Place holder code to put in some of the basic fields we'll need to pass to the controller. We need the event name, start time, end time, and an array with dates. -->

 <%= form_for(@event) do |form| %>
    <%= form.label "What_are_you_planning?" %>
    <%= form.text_field :event_name %>
    <br><br>
    <%= form.label "Start_Time" %>
    <%= form.time_field :start_time %>
    <br><br>
    <%= form.label "End_Time" %>
    <%= form.time_field :end_time%>
    <br><br>
    
    <%= hidden_field_tag 'dates_array' %>
<% end %>
    
    <!-- Button used to submit form and ajax request -->
    <button id="submit" onclick="addEvent()"> Schedule </button>

    <script>

        function addEvent(){
            var dates = eventDates()
            document.getElementById('dates_array').value = JSON.stringify(dates);
            $.ajax({
                type: "POST",
                url: "/events",
                complete: function(){
                    $("#new_event").submit(); //submit the form after ajax completes
                }
            });
        }

// Add functionality for getting dates from calendar that user interfaces with 
        function eventDates(){
            dates = ["11/11/2001", "11/02/2002", "12/31/2015"]
            return dates;
        }

    </script>
   


  




