
<div>
	<%= @event.event_name + " is scheduled over the following days: \n" %>
	<% for day in @event.days %>
	<p>
		<%= '' + day.cal_day.mon.to_s + '/' + day.cal_day.mday.to_s + '/' + day.cal_day.year.to_s + "\n"%>
	</p>
	<%end%>
</div>


<div> Participants:
<% for participant in @event.participants %>
        <p>
            <%= participant.name + " is available at:"%>
            <% for time in participant.timeblocks %>
            	<%= time.cal_day.to_s + " at " + time.time_id.to_s + ";" %>
            <%end%>
        </p>
<%end%>
</div>

<!-- Form to add a new participant -->

 <%= form_for(@participant) do |form| %>
    <%= form.label "What is your name" %>
    <%= form.text_field :name %>

    <br><br>
    
    <%= hidden_field_tag 'event_id', @event.id %>

    <%= hidden_field_tag 'availability' %>

<% end %> 

<!-- Button to submit form and ajax request -->

    <button id="submit" onclick="addParticipant()"> All Done! </button>

<!-- Script to turn javascript dictionary to string and post to create a new participant with specified availability -->
    <script>   
        function addParticipant(){
            var avail = participantAvailability()
            
            document.getElementById('availability').value = JSON.stringify(avail);
            $.ajax({
                type: "POST",
                url: "/participants",
                complete: function(){
                    $("#new_participant").submit(); //submit the form after ajax completes
                }
            });
        }


    // Function that returns the participant's availability as specified on the calendar

        function participantAvailability(){
            var avail = {};
            avail['11/03/2014'] = [1,2,3];
            avail['11/09/2015'] = [2,3,5];
            return avail;
        }

    </script>
